<div class="app-navbar mat-elevation-z6">
  <button mat-button (click)="sidenav.toggle()">Menu</button>
  <a href="/" mat-button>{{title}}</a>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <div class="sidenav-content">test</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
